.select-product-container {
    width: 663px;
}
  
.select-product-container h2{
padding: 14px 28px 6px 28px;
}

.searchProduct{
    padding: 9px 28px;
}

/* .search-input{
width: 100%;
} */

.product-list {
display: flex;
flex-direction: column;
gap: 10px;
}

.product-item {
display: flex;
flex-direction: column;
}

.productName{
    padding: 13px 28px;
}
.productName,.productSize{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.productName input[type="checkbox"],.productSize input[type="checkbox"]{
    width: 24px;
    height: 24px;
    margin: 4px 10px 0 0;
} 
.productName input[type="checkbox"]:before,
.productSize input[type="checkbox"]:checked:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #008060;
    font-weight: 700;
    font-size: 17px;
}

input[type="checkbox"]:checked:before {
    content: '';
    background-image: url('../assets/tick.svg'); /* Set your tick image here */
    background-size: 15px 15px; /* Ensure the image fits the checkbox */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    margin: 4px 10px 0 0;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 1px solid #DADADA;
    border-radius: 1px;

} 
.productName label{
    font-size: 16px;
    font-weight: 400;
}
.productSize{
    display: flex;
    padding: 13px 35px 13px 70px;
}

.productSize .size{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 45px);
}
.productSize .size span{
    text-align: left;
    font-size: 16px;
    width: fit-content;
}
.productSize .size span:nth-of-type(1){
    width: 68%;
}


.addProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 28px;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1) */
}

.addProduct p{
    margin: 0;
    font-size: 16px;
}

.addProduct button {
/* margin-top: 20px; */
padding: 10px 20px;
background-color: green;
color: white;
border: none;
cursor: pointer;
}

.addProduct button:nth-of-type(1){
    margin-right: 10px;
}
  