:root{
  --grey: rgba(224, 224, 224, 1)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
  outline: none;
}


.nav{
  height: 52px;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 2px solid var(--grey);
  display: flex;
  font-size: 16px;
  color: grey;
  font-weight: 500;
  gap: 20px;
  align-items: center;
}

.container{
  height: 100vh;
  width: 100vw;
}

.products {
  height: calc(100vh - 52px);
  padding: 50px 25%;
  color: #333;
  overflow-y: scroll;
}

.products .title{
  font-weight: 600;
  height: 52px;
}

.table{
  height: auto;
  display: grid;
}

.row {
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.table .head {
  display: grid;
  grid-template-columns: 2fr 1fr 48px;
}

.row .product {
  display: grid;
  grid-template-columns: 2fr 1fr 48px;
}

.row .variants {

}

.row .variants .row {
  display: grid;
  grid-template-columns: 2fr 1fr 48px;
}

.head{
  height: 48px;
  padding-left: 50px;
}

.head .column{
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 30px;
}

.table .body{
  overflow-y: scroll;
}

.table .body .column{
  display: flex;
  align-items: start;
  gap: 15px;
  margin-left: 30px;
}

.table .body .column .product {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.select-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.select-btn .picker {
  background: white;
}

.table .body .column .discount-btn {
  background-color: #008060;
  width: 100%;
}

.products .add-product{
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 15px;
  padding: 5px 0px;
}

.products .add-product button{
  height: 100%;
  width: 50%;
  background: none;
  border: 2px solid #008060;
  color: #008060;
}